@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");
:root {
  --primary-one: hsl(193, 38%, 86%);
  --primary-two: hsl(150, 100%, 66%);

  --neutral-one: hsl(217, 19%, 38%);
  --neutral-two: hsl(217, 19%, 24%);
  --neutral-three: hsl(218, 23%, 16%);
}
body {
  background-color: var(--neutral-three);
  text-align: center;
  font-family: "Manrope", sans-serif;
}
hr {
  width: 50%;
}
.container {
  background-color: var(--neutral-two);
  width: fit-content;
  margin: 11rem 20rem;
  padding: 3rem 6rem;
  border-radius: 20px;
}
.advice-paragraph {
  color: var(--primary-two);
  font-size: 0.9em;
}
.advice {
  color: var(--primary-one);
  font-size: 1.5em;
  width: 72%;
  text-align: center;
  margin: 0rem 4rem;
}
.dice-border {
  background-color: var(--primary-two);
  padding: 0.8rem 0.9rem 0.6rem 0.9rem;
  border-radius: 50%;
  width: fit-content;
  height: fit-content;
  margin: 0rem 13rem -4.5rem 13rem;
}
.devider {
  margin: 2rem 0rem;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
